@font-face {
    font-family: 'Austin Cy';
    src: url('../fonts/AustinCy-MediumItalic.woff2') format('woff2'),
        url('../fonts/AustinCy-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Austin Cy';
    src: url('../fonts/AustinCy-Light.woff2') format('woff2'),
        url('../fonts/AustinCy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Austin Cy';
    src: url('../fonts/AustinCy-Extrabold.woff2') format('woff2'),
        url('../fonts/AustinCy-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik LC';
    src: url('../fonts/GraphikLC-Regular.woff2') format('woff2'),
        url('../fonts/GraphikLC-Regular.woff') format('woff');
    font-weight: 300,400,500,600,700;
    font-style: normal;
}
